    <!--Pricing Tables-->
    <section id="pricing" class="secondary-color text-center scrollto clearfix ">
      <div class="row clearfix">

          <div class="section-heading">
              <h3>YOUR CHOICE</h3>
              <h2 class="section-title">We have the right tickets for you</h2>
          </div>

          <!--Pricing Block-->
          <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s">
              <div class="pricing-block-content">
                  <h3>Cinema</h3>
                  <p class="pricing-sub"></p>
                  <div class="pricing">
                      <div class="price"><span>$</span>19</div>
                      <p>Indulge in Cinematic Bliss, Get Your Ticket Today!</p>
                  </div>
                  <ul>
                      <li>Modern movies</li>
                      <li>Front seats</li>
                      <li>Equipped halls</li>
                      <li>Guaranteed reservation</li>
                      <li>Customer Support</li>
                  </ul>
                  <button [routerLink]="['/cinema']">Uncover more</button>
              </div>
          </div>
          <!--End Pricing Block-->

          <!--Pricing Block-->
          <div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
              <div class="pricing-block-content">
                  <h3>Music</h3>
                  <p class="pricing-sub"></p>
                  <div class="pricing">
                      <div class="price"><span>$</span>29</div>
                      <p>Let the Music Move You, Secure Your Ticket Now!</p>
                  </div>
                  <ul>
                      <li></li>
                      <li>Distinctive music</li>
                      <li>Front seats</li>
                      <li>Equipped halls</li>
                      <li>Guaranteed reservation</li>
                      <li>Customer Support</li>
                 </ul>
                 <button [routerLink]="['/music']">Uncover more</button>
              </div>
          </div>
          <!--End Pricing Block-->

          <!--Pricing Block-->
          <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.8s">
              <div class="pricing-block-content">
                  <h3>Theatre</h3>
                  <p class="pricing-sub"></p>
                  <div class="pricing">
                      <div class="price"><span>$</span>49</div>
                      <p>Experience the Magic of Live Theater, Reserve Your Seat Today!</p>
                  </div>
                  <ul>
                      <li>Amazing plays</li>
                      <li>Front seats</li>
                      <li>Equipped halls</li>
                      <li>Customer Support</li>
                      <li>Guaranteed reservation</li>

                  </ul>
                  <button [routerLink]="['/theatre']">Uncover more</button>
              </div>
          </div>
          <!--End Pricing Block-->

      </div>
  </section>
  <!--End of Pricing Tables-->
