

      <!--Testimonials-->
      <aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">

            <div class="section-heading">
                <h3>FEEDBACK</h3>
                <h2 class="section-title">What our customers are saying</h2>
            </div>

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="../assets/images/user-images/user-1.jpg" alt="User"/>
                <q>I'm blown away by the convenience of this website! Booking tickets for movies, theater,
                  and music events has never been easier. The process is smooth, and I always find the best
                  seats. Highly recommend!</q>
                <footer>David Thompson - Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="../assets/images/user-images/user-2.jpg" alt="User"/>
                <q>LI love this platform! It's my go-to for all my entertainment needs. The ticket booking experience
                  is seamless, and the selection of shows is fantastic. I've had nothing but great experiences here!</q>
                <footer> Sarah Johnson - Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

            <!--User Testimonial-->
            <blockquote class="col-3 testimonial classic">
                <img src="../assets/images/user-images/user-3.jpg" alt="User"/>
                <q>LThis website is a game-changer! As a huge fan of movies, theater, and music, I was thrilled to discover
                  this platform. It's super easy to book tickets, and I always find exciting events to attend. Kudos to the
                  team behind it!</q>
                <footer> Jake Williams - Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>

    </aside>
    <!--End of Testimonials-->
